//movies__wrap
.movies__wrap {
overflow: hidden;
}

.movies__inner {
    height: 500px;
    .movies__text {
    h3{
        font-size: 50px;
    }
    p {
        font-size: 22px;
        font-weight: 300;
        margin: 10px 0;
    }
    a {
        width: 100px;
        height: 30px;
        background-color: var(--button_red);
        display: inline-block;
        font-weight: 300;
        color: #fff;
        line-height: 30px;
        text-align: center;
    }
}
    .movies__item {
        position: absolute;
        margin-top: 100px;
        display: flex;
        >div {
            width: 400px;
            margin-right: 20px;
        }

        .movies__img {
            width: 270px;
            height: 400px;
            border: 1px solid var(--color_body);
            margin-left: 10px;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
    }
}



////movie page
.movie__page {}
.movie__slider {
    display: none;
}
.movie__search {
    text-align: center;
    margin: 50px;
    input {
        border: 1px solid #e8ecf2;
        font-size: 16px;
        padding: 10px 20px;
        
    }
    button {
        @include button (#475EE4, #fff)
    }
}
.movie__tag {
    ul {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        margin-top: 100px;
        li {
            a{
                border: 1px solid gray;
                margin: 10px 20px;
                margin: 0 10px;
                color: red;

            }
        }
    }
}
.movie__cont {
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 100px;
        li {
            width: 31.33%;
            margin-bottom: 4%;
        }
    }
}